RewriteEngine On
ErrorDocument 404 /ClinicoMilan/page-404.php

RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1/ClinicoMilan [R=301,L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]